<div class="container">
  <div class="content1">
    <h1>
      Full Stack
      Developer👋
    </h1>

    <div class="info">
      <p>
        Hi,I'm Infant Raj a Passionate Full stack Developer to
        building beautiful and functional web applications with
        Crafting user experiences from frontend to backend.
      </p>
      <div class="social-div">
       <a *ngFor="let x of socialMedia" href="{{x.link}}" target="_blank"> <img  [src]="x.src" class="social"></a>
      </div>
    </div>
  </div>
  <div class="content2">
    <img src="asset/image/banner_img1.jpg" alt="" class="img">
  </div>
</div>
