<app-imgshow [show]="isShow">

</app-imgshow>
<div class="container">
  <app-title title="My Work"></app-title>
  <div class="content">
    <div class="works">
      <div class="workxyz">
        <div class="workinfo">


          <div class="title">
            Protfolio
          </div>


          <div class="discription">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, eos? At incidunt totam Lorem ipsum dolor sit
            amet consectetur adipisicing elit. In, accusamus porro debitis tempora, perferendis sint recusandae placeat
            unde beatae quas magni molestias fugit dolorum veniam quae, quis laborum iure repudiandae? Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Sed distinctio fugit doloribus, voluptatibus quasi non quo eius neque
            obcaecati necessitatibus delectus dolorum dicta nesciunt pariatur eligendi est maxime? Cum, quisquam. odio
            itaque ab cupiditate labore consequuntur nostrum dicta, minus sit dolore facilis deserunt ex quis cum
            soluta.
          </div>
          <div class="usedprogram">
            <img src="asset/image/skill/1.png" alt="" class="program">
            <img src="asset/image/skill/1.png" alt="" class="program">
            <img src="asset/image/skill/1.png" alt="" class="program">
            <img src="asset/image/skill/1.png" alt="" class="program">
          </div>

        </div>
        <div class="workimg">
          <img (click)="show()" src="asset/image/works/1.png" alt="" srcset="">
        </div>

      </div>
      <div class="btns">
        <a href="" class="git">github</a>
        <a href="" class="live">Live Demo</a>
      </div>
    </div>

  </div>
</div>
