<app-imgshow [show]="isShow" [id]="id">

</app-imgshow>
<div class="container" id="MyWork">
  <app-title title="My Work"></app-title>
  <div class="content">
    <div class="works" *ngFor="let x of work">
      <div class="workxyz">
        <div class="workinfo">


          <div class="title">
            {{x.title}}
          </div>


          <div class="discription">
            {{x.discription}}
          </div>
          <div class="usedprogram">
            <img *ngFor="let y of x.used_program" src="asset/image/skill/{{y}}.svg" class="program">

          </div>

        </div>
        <div class="workimg">
          <img (click)="show(x.id)" src={{x.images}}>
        </div>

      </div>
      <div class="btns">
        <a [href]="x.github_id" class="git" target="_blank">github</a>
        <a *ngIf="x.demo_link" [href]="x.demo_link" class="live" target="_blank">Live Demo</a>
      </div>
    </div>

  </div>
</div>
