<div class="container" id="About">
  <div class="content">
    <app-title title="About Me"></app-title>
    <div class="div-dis">
      <div class="f-div">
      <div class="discription-img">
        <img src="./asset/image/profile.png" alt="">
      </div>
      <div class="discription">
      &ensp;   Hi, I'm Infant Raj, a passionate and results-driven software developer with over one years of experience in building innovative and high-performing software solutions. My expertise lies in full-stack development, with a strong proficiency in modern web technologies, including JavaScript, TypeScript, Angular, Node.js, Java and Python.<br>
        <br>I thrive in dynamic and collaborative environments, where I can leverage my technical skills to solve complex problems and contribute to the success of the team. My dedication to continuous learning and staying up-to-date with industry trends has allowed me to deliver scalable and efficient solutions that meet client needs.
        <br><br>Whether working on the front end to create engaging user interfaces or diving into backend development to optimize server performance, I am committed to delivering exceptional results.
        <br><br> In my free time, I enjoy contributing to open-source projects, exploring new programming languages, and attending tech meetups to network with other professionals. I am excited to bring my skills and enthusiasm to new challenges and make a meaningful impact in the field of software development.
      </div>
      </div>
      <div class="s-div">
        <div class="work">
         <div class="con"> Do you want to start a <br> project together?</div>
         <div class="btn"><button  (click)="show()"><mat-icon>file_copy</mat-icon><div class="copy">{{copyx}}</div></button> </div>
        </div>
      </div>
    </div>
  </div>

</div>
