/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: aliceblue;
}
@font-face {
  font-family: f1;
  src: url(../public/asset/font/LibreFranklin-VariableFont_wght.ttf);
}
@font-face {
  font-family: f2;
  src: url(../public/asset/font/EBGaramond-VariableFont_wght.ttf);
}
:root{
  font1:f1;
  font2:f2;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
